In [1]:
import pandas as pd
import requests

In [2]:
url = "https://www.ajio.com/api/category/830216001"

querystring = {"fields":"SITE","currentPage":"1","pageSize":"45","format":"json","query":"^%^3Arelevance","sortBy":"relevance","gridColumns":"3","advfilter":"true","platform":"Desktop","showAdsOnNextPage":"false","is_ads_enable_plp":"false"}

payload = ""
headers = {
    "cookie": "TS014a283e=01ef61aed0f858eb4a96aff06d54c621769a5d3a3234f417f853b77c1903aee42c96a6f91f720e50e7efa8a5b913543d8314d7e334",
    "Accept-Language": "en-US,en;q=0.9",
    "Connection": "keep-alive",
    "Cookie": "V=201; _fp=655484a3761900d2a844c0a0c0e75259; TS014a283e=01ef61aed04c737c317cf893901aa61fceb061fc190c3fe24e662c7f2c23f69dc0afaadfa51c57e5ed0813231c175a2935f03231a2; g_state=^{^\^i_p^^:1657274885341,^\^i_l^^:1^}",
    "Referer": "https://www.ajio.com/men-jeans/c/830216001",
    "Sec-Fetch-Dest": "empty",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Site": "same-origin",
    "Sec-GPC": "1",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.114 Safari/537.36",
    "accept": "application/json"
}

response = requests.request("GET", url, data=payload, headers=headers, params=querystring)

print(len(response.text))

232362

In [5]:
res=response.json()

In [54]:
c=0
data=[]
for i in res["products"]:
    Product_code =i["code"]  
    Brand_Name = i["fnlColorVariantData"]["brandName"]    
    MRP =i["price"]["value"]
    Discount =i["discountPercent"]
    Previous_Price= i["wasPriceData"]["value"]
    Offered_Price =i["offerPrice"]["value"]
    
    data.append({"Product_code" :i["code"],  "Brand_Name" : i["fnlColorVariantData"]["brandName"] , "MRP" :i["price"]["value"],
                 "Discount":i["discountPercent"], "Previous_Price":i["wasPriceData"]["value"],"Offered_Price" :i["offerPrice"]["value"]})
    
    c+=1;
    if c==10:
        #print(data)
        print(f'Total products on this page is:  {len(res["products"])} ')
        break

Total products on this page is:  45

In [63]:
df=pd.json_normalize(data)
df.head(4)

,Product_code,Brand_Name,MRP,Discount,Previous_Price,Offered_Price
0,460827892005,The Indian Garage Co,759,67% off,2299,644
1,441038480001,DNMX,639,20% off,799,638
2,469079346005,U.S. Polo Assn.,1025,59% off,2499,1000
3,461190947004,Campus Sutra,950,50% off,1899,779

In [70]:
#df.sort_values("Product_code",ascending='True')
df.info()
df["MRP"]=df["MRP"].astype('int')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product_code    10 non-null     object
 1   Brand_Name      10 non-null     object
 2   MRP             10 non-null     int64
 3   Discount        10 non-null     object
 4   Previous_Price  10 non-null     int64
 5   Offered_Price   10 non-null     int64
dtypes: int64(3), object(3)
memory usage: 608.0+ bytes

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product_code    10 non-null     object
 1   Brand_Name      10 non-null     object
 2   MRP             10 non-null     int32
 3   Discount        10 non-null     object
 4   Previous_Price  10 non-null     int64
 5   Offered_Price   10 non-null     int64
dtypes: int32(1), int64(2), object(3)
memory usage: 568.0+ bytes